DEEPGRAM_API_KEY=
XI_API_KEY=
# Available models at a signed GET request to /v1/models
XI_MODEL_ID="eleven_turbo_v2"
VOICE_ID=
SERVER=

# Airtable configs
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE_NAME=

# Configure your Twilio credentials 
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

TWILIO_API_KEY=''
TWILIO_API_SECRET=''
TWILIO_SYNC_SERVICE_SID=''
TWILI_SYNC_LIST_CONVERSATION_NAME="hls-sko-convo"
TWILI_SYNC_LIST_RECO_NAME="hls-sko-recommendation"

DEFAULT_PATIENT_PHONE='+14081234567'
DEFAULT_CLINITIAN_PHONE=''
FROM_NUMBER='+14088695317'
TO_NUMBER='+14083985848'
OPENAI_API_KEY=
WELCOME_MESSAGE="This call may be recorded... Hi there, I'm a personal assistant that you can chat with on the phone. Ask me any question and I'll do my best to answer!"

SEGMENT_API_URL=
SEGMENT_ACCESS_TOKEN=
SEGMENT_WORKSPACE_ID=

TEST_MODE=yes
SAMPLE_CONVO="
Clinician: Hello, this is Dr. Smith's office. How can I help you today?

Patient: Hi, this is Simran. I've been feeling really unwell for the past few days. I think I might have the flu.

Clinician: I'm sorry to hear that, Simran. I'll do my best to help. Can you please describe your symptoms?

Patient: I have a high fever, body aches, sore throat, and a persistent cough.

Clinician: I see. I'm sorry you're going through this. Have you noticed any shortness of breath or difficulty breathing?

Patient: No, not really. It's mostly the fever and body aches that are bothering me.

Clinician: Okay. And when did you first start experiencing these symptoms?

Patient: I started feeling unwell about four days ago, and it's been getting worse since then.

Clinician: Thank you for providing that information. It helps me understand your situation better. Have you been in contact with anyone who tested positive for the flu recently?

Patient: Not that I'm aware of. I've been trying to stay away from people as much as possible.

Clinician: That's a good precaution. Based on your symptoms, it does sound like you might have the flu. However, I would recommend coming in for a physical examination to confirm the diagnosis and rule out any other possibilities. In the meantime, it's important to rest, stay hydrated, and consider over-the-counter medications for symptom relief.

Patient: Okay, thank you, Dr. Smith's office. I'll schedule an appointment as soon as possible.

Clinician: You're welcome, Simran. Take care, and we hope you feel better soon. If your symptoms worsen or if you have any concerns, don't hesitate to reach out."
