/* bootstrap-icons@1.11.3*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* patient profile */

.profile-border {
  height: 40%;
}

.profile-border > h6 {
  margin: 10px;
}

.profile-border > .container {
  height: 70%;
}

.profile-table tr {
    display: inline-block;
    width: 33%;
}

.profile-table tr > td:first-child {
  font-weight: bold;
}

.profile-table tr > td {
    display: block;
}

/* tasks */
#tasks-list {
    padding: 10px;
}

#tasks-list  li {
    background: darkgrey;
    padding: 10px;
    margin: 10px;
}


/* transcript */
.transcript {
    max-width: 400px;
    margin: 0 auto; 
    overflow: hidden;
  }

  .message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .patient, .clinician {
    border-radius: 10px;
    padding: 10px;
    max-width: 70%;
  }

  .patient {
    background-color: #e5e5ea;
    color: #0a0a0a;
    margin-right: auto;
  }

  .clinician {
    background-color: #007bff;
    color: #ffffff;
    margin-left: auto;
  }

  .title {
    padding:1px;
    font-size: 7pt;
    font-weight: bold;
    color: #000000;
  }